body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #ececec;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}
.quiz-container {
  padding: 30px 0;
  width: 800px;
  margin: 0 20px 20px 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

h1 {
  margin: 30px 0 0 0;
}

.backgorund {
  text-align: center;
}